body {
  background-color: #F0EBF8;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 2em;
  margin-left: 1vw;
  margin-right: 1vw;
}

p {
  margin-left: 1vw;
  margin-right: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 0.9em;
}

.card {
  background-color: #fff;
  width: 50vw;
  border-radius: 12px 12px 12px;
  border: 1px;
  border-top: 8px solid #673AB7;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  text-align: justify;

}

.input-card {
  background-color: #fff;
  width: 50vw;
  border-radius: 12px 12px 12px;
  border: 1px;
}

.input-card p {
  padding-left: 1vw;


}

.input-container {
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 6vw;

}

.name {
  border-top: none;
  border-color: lightgrey;
  border-left: none;
  border-right: none;
  width: 30vw;
}

.input-card-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;

}

.button-class {
  display: flex;
  justify-content: center;
  margin-top: 3vh;

}

.submit-button {
  border-radius: 2px 2px 2px;
  background-color: #673AB7;
  border: 1px solid #673AB7;
  border-radius: 4px 4px 4px;
  color: #fff;
  margin-right: 39vw;
  width: 5vw;
  height: 5vh;
  cursor: pointer;

}

.clear-button {
  border: none;
  color: #673AB7;
  cursor: pointer;
}